.content{
 width: 100%;
 text-align: center;
 margin-top: 200px;
}
h2{

    font-size: 1.875rem;
    font-weight: bold;
    color: #334155; 
    margin-bottom: 0.5rem;
}
.Introduction h1{
    font-size: 4rem; /* 48px */
    font-weight: 800; /* Extra Bold */
    color: #1E293B; /* Slate-800 */
    margin-bottom: 0.5rem; /* 24px */
    line-height: 1.1;
}
.Roles{
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem; /* 8px space between elements */
    margin-bottom: 3rem; /* 48px */
}
.Roles p{
    font-size: 1.25rem; /* 20px */
    text-transform: uppercase;
    letter-spacing: 0.15em;
    color: #334155; /* Slate-700 */
}
.button {
    background-color: #4F46E5; /* Indigo-600 */
    color: white;
    margin-left: 10px;
    border-radius: 9999px; /* Fully rounded */
    padding: 0.6rem 1.9rem; /* px-8 py-6 */
    font-size: 1.125rem; /* 18px */
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

.button:hover {
    background-color: #4338CA; /* Darker Indigo-700 */
}
.buttons-home{
    display: inline-block;
}